.heroAbout {
    background-image: url(../../assets/img/team.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    margin-bottom: 5%;
}

.heroAbout h1 {
    font-size: 7rem;
    font-weight: 600;
}

.heroAbout h1 span{
    color: #56DF00;
}

.aboutTeam {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 10%;
}

.aboutTeam article {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.aboutTeam article div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.aboutTeam p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    line-height: 1.5;
}

.aboutTeam a {
    text-decoration: underline;
}

.aboutTeam img {
    width: 35%;
}